<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GroopWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GroopWebApp.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body class="bg-dark">
    <header>
                <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home" asp-area="">GroopWebApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav flex-grow-1 me-auto">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                @if(User.Identity.IsAuthenticated)
                                {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">Runners</a>
                                </li>
                                }
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Club" asp-action="Index">Club</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Race" asp-action="Index">Races</a>
                                </li>
                                @if(User.Identity.IsAuthenticated)
                                {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                                </li>
                                }
                            </ul>
        @if(!User.Identity.IsAuthenticated)
            {
            <form class="d-flex">
                <a class="text-white btn btn-info form-control me-sm-2">AdminDemo</a>
                <a class="btn btn-success form-control me-sm-2" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                <a class="btn btn-secondary my-2-my-sm-0" asp-area="" asp-controller="Account" asp-action="Register">Register</a>                
            </form>
            }
        else{
            <form asp-area="" asp-controller="Account" asp-action="Logout" class="d-flex">
                <a asp-area="" asp-controller="Dashboard" asp-action="Index" id="user-link" class="mx-3 mt-1" style="font-size:24px; text-decoration:none">@User.Identity.Name</a>
                <button class="btn btn-danger">Logout</button>                     
            </form>
        }
            </div>
        </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
<footer class="text-center text-lg-start text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block" style="background-color: rgba(0, 0, 0, 0.05);">
         
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Running App</h6>
          <p>
            A community of devoted runners, passionate about running and life. Ready to find your accountability partner?
          </p>
          <p>© 2024 Copyright
            <a class="text-decoration-none text-reset fw-bold" asp-area="" asp-action="Privacy" asp-controller="Home">Privacy</a></p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            USED
          </h6>
          <p>
            <a href="https://dotnet.microsoft.com/en-us/apps/aspnet" class="text-decoration-none text-reset">ASP.Net</a>
          </p>
          <p>
            <a href="https://www.w3schools.com/cs/index.php" class="text-decoration-none text-reset">C#</a>
          </p>
          <p>
            <a href="https://www.w3schools.com/html/default.asp" class="text-decoration-none text-reset">HTML</a>
          </p>
          <p>
            <a href="https://www.w3schools.com/bootstrap/bootstrap_ver.asp" class="text-decoration-none text-reset">Bootstrap</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset text-decoration-none">About Me</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Contact Me</a>
          </p>
          <p>
            <a href="#!" class="text-reset text-decoration-none">Reviews</a>
          </p>
          <p>
            <a asp-area="" asp-action="Privacy" asp-controller="Home" class="text-reset text-decoration-none">Privacy</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p>Romania, Bucharest</p>
          <p><a class="text-decoration-none" href="mailto:alexandrufelix2020@gmail.com">alexandrufelix2020@gmail.com</a></p>
          <p><a class="text-decoration-none" href="tel+40756361705">+40756361705</a></p>
          <p><a class="text-decoration-none" href="tel+40750414319">+40750414319</a></p>
        </div>
      </div>
    </div>
  </section>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
