@using GroopWebApp.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}
@if(TempData["SuccessRegister"] !=null)
{
  <div id="message-success" class="alert alert-success position-fixed top-0 start-50 translate-middle-x">
    <span><b>Congratulations!</b> - @TempData["SuccessRegister"]</span>
  </div>
}

<div class="text-dark row mt-5">
    <div class="rounded bg-light col-md-6 offset-3">
        <p>
            <h4>Log in to your account</h4>
        </p>
        @if(TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }
        
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control">
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group my-3 ">
                        <input style="margin-right:10px"class="btn btn-success float right" type="submit" value="Log in" />
                        <a class="btn btn-secondary" asp-controller="Club" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>